.content__list {
  position: relative;
  display: flex;
}
.content__item {
  margin: 10px;
}
.content__link {
  font-size: 14px;
  font-family: "PT Sans";
  color: var(--primary-text-color);
  text-decoration: underline;
  line-height: 1.286;

  &::after {
    position: absolute;
    content: "";
    // left: 25px;
    // right: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(35deg);
    // transform: rotate(35deg);
    margin-left: 10px;
    height: 16px;
    width: 1.5px;
    background-color: var(--primary-text-color);
  }

  // margin: 10px;
  &:nth-child(1) {
    margin-left: 0px;
  }
  &:nth-child(3) {
    margin-right: 0px;
    &::after {
      display: none;
    }
  }
}
.content__box {
  display: flex;
  justify-content: space-between;
}

.product__list {
  display: flex;
  //   justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.product__item {
  background-color: #dcdcdc;
  max-width: 250px;
  max-height: 385px;
  margin: 16px 8px 16px 8px;
  &:nth-child(3) {
    margin-right: 0px;
  }
}

.product__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.product__title {
  font-family: "PT Sans";
  color: var(--primary-text-color);
  line-height: 1;
  font-size: 18px;
  margin-bottom: 55px;
  margin-top: 20px;
  margin-left: 20px;
}
.product__box-item {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px 20px 20px;
}
.product__price {
  font-family: "PT Sans";
  color: rgb(68, 68, 68);
  font-weight: bold;
  line-height: 0.643;
  font-size: 28px;
}
.product__buttox {
  width: 28px;
  height: 21px;
  font-size: 0;
  background: url("./../../images/cat.png");
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;
  border: none;
}

.catogory__link {
  font-family: "PT Sans";
  color: var(--primary-text-color);
  line-height: 1.63;
  font-size: 13px;
  margin-left: 20px;
  list-style: disc;
}
.menu-content {
  width: 170px;
  margin: 0;
  padding: 0;
  padding-bottom: 110px;
}
.menu-content__link {
  font-family: "PT Sans";
  color: var(--primary-text-color);
  line-height: 1.667;
  font-size: 18px;
}

.numbering {
  display: flex;
  justify-content: center;
}
.numbering__link {
  font-family: "PTSans";
  color: var(--primary-text-color);
  line-height: 1.571;
  font-size: 14px;
  margin: 10px;
  padding-bottom: 60px;
}
.content__line {
  border-bottom: 1.5px solid var(--primary-text-color);
  // width: 780px;
}
.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 35px;
}
.info__item {
  max-width: 375px;
}
.info__text {
  font-size: 14px;
  font-family: "PT Sans";
  color: var(--primary-text-color);
  line-height: 1.571;
}
