.form__overlay {
  // position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-2000px);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: ease 1s all;
  position: fixed;
  z-index: 3;
}

.form {
  top: 121px;
  left: 50%;
  max-width: 528px;
  height: 500px;
  position: absolute;
  background-color: #dcdcdc;
  transform: translateX(-50%);
}
.form__title {
  font-family: "PT Sans";
  color: var(--primary-text-color);
  line-height: 1.2;
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0;
}
.form__text {
  font-family: "PT Sans";
  color: var(--primary-text-color);
  line-height: 1.2;
  font-size: 24px;
  text-align: center;

  padding-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.form__field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
  /* margin-left: 27px; */
  margin-top: 0;
  padding: 0;

  /* margin-right: auto; */
}
.form__field .form__input {
  width: 448px;
  height: 40px;
  padding: 12px 42px;

  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__field .form__label {
  font-family: "PT Sans";
  color: var(--primary-text-color);
  line-height: 1.2;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);

  position: absolute;
  top: 50%;
  left: 83px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  font-family: "PT Sans";
  color: var(--primary-text-color);
  line-height: 1.2;
  font-size: 18px;
  text-align: center;

  transform: translate(-26px, -42px);
}
.form__input:focus {
  outline: none;
  border: 2px solid var(--primary-text-color);
}
/*    */
.form__field .icon {
  position: absolute;
  top: 50%;
  left: 59px;

  transform: translateY(-50%);
}

.form__button {
  font-family: "PT Sans";

  font-weight: bold;
  line-height: 1.917;
  font-size: 26px;
  border: none;
  outline: none;

  background-color: #dcdcdc;
  color: var(--primary-text-color);
  border-bottom: dashed;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: ease 1s all;
}
.form__button--close::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  top: 9px;
  left: 9px;

  background-image: url("./../../images/form/exit.svg");
}

.form__overlay.active {
  opacity: 1;
  transform: translateX(0);
  position: fixed;

  // z-index: 4;
}

// .form__input:required:valid {
//   border-color: green;
// }
// .form__input:required:invalid {
//   border-color: red;
// }
input:invalid {
  background-color: #f9e3d0;
}

form:invalid .form__button {
  // border: 5px solid ;
  background-color: #f9e3d0;
}

input:valid {
  background-color: #ddffdd;
}

form:valid .form__button {
  background-color: #ddffdd;
}

// input:required {
//   border-color: #800000;
//   border-width: 3px;
// }
