html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}
:root {
  --primary-text-color: rgb(118, 118, 118);
  // --title-text-color: #757575;
  // --accent-color: #2196f3;
  // --primary-bg-color: #ffffff;
}
