.header {
  background-color: #dcdcdc;
}
.header__box {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin-top: 82px;
  margin-left: 5px;
  margin-bottom: 50px;
}
.header__box-nav {
  margin: 45px 5px 75px 0px;
}

.header__link {
  font-family: "Open Sans";
  color: var(--primary-text-color);
  line-height: 1.15;
  font-size: 34px;
}

.header__button {
  position: relative;
  font-family: "PT Sans";

  font-weight: bold;
  line-height: 1.917;
  font-size: 26px;
  border: none;
  outline: none;
  background-color: #dcdcdc;
  color: var(--primary-text-color);

  height: 20px;
  margin-top: 5px;
  margin-left: 95px;
  &::before {
    content: "";
    top: 40px;
    position: absolute;
    width: 95%;
    height: 2px;
    border-bottom: dashed;
  }
}
