@media screen and (max-width: 1050px) {
  .form__field .icon {
    left: 45px;
  }
  .form__field .form__label {
    left: 65px;
  }
}
@media screen and (max-width: 985px) {
  .product__list {
    justify-content: space-evenly;
  }

  // .product__list:nth-child(5) {
  //   justify-content: flex-start;
  // }
  .menu__list {
    justify-content: space-evenly;
  }
  .menu__item {
    margin: 10px 4px;
    ::after {
      margin-left: 4px;
    }
  }

  .menu__link {
    font-size: 24px;
  }
  .info {
    display: none;
  }
  .form__field .icon {
    left: 25px;
  }
  .form__field .form__label {
    left: 45px;
  }
}
@media screen and (max-width: 725px) {
  .menu__item {
    margin: 5px;
    &:nth-child(1) {
      margin-left: 5px;
    }
  }
  .menu__list {
    justify-content: flex-start;
  }
  .slider__list .slick-arrow.slick-next {
    right: 40px;
  }
  .slider__list .slick-arrow.slick-prev {
    left: 40px;
  }
  .product__item {
    max-width: 170px;
  }
  .product__img {
    width: 120px;
    height: 120px;
  }
  .product__title {
    margin: 10px 0px 25px 0px;

    text-align: center;
  }
  .product__price {
    font-size: 20px;
  }
  .product__box-item {
    padding: 0px 15px 10px 15px;
  }
  .product__buttox {
    width: 20px;
  }
  .form__field .icon {
    left: 20px;
  }
  .form__field .form__label {
    left: 40px;
  }
}
@media screen and (max-width: 600px) {
  .product__item {
    max-width: 180px;
  }
  .product__img {
    width: 140px;
    height: 140px;
  }
  .header__box-nav {
    margin: 20px 5px 20px 0px;
  }
  .header__link {
    font-size: 24px;
  }
  .header__logo {
    margin-top: auto;
    margin-bottom: auto;
  }
  .header__img {
    width: 150px;
    height: 60px;
  }
  .header__button {
    margin: 0px;
    margin-right: 10px;
  }
  .footer__box {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-menu__item {
    margin: 0px;
  }
  .info-company__text {
    width: 95px;
  }
}
@media screen and (max-width: 450px) {
  .menu-content__link {
    font-size: 15px;
  }
  .catogory__link {
    font-size: 11px;
  }
  .price-list__img {
    width: 50px;
    height: 60px;
  }
  .price-list__name {
    font-size: 20px;
  }
  .menu-content {
    width: 140px;
    padding-bottom: 40px;
  }
  .company__img {
    display: none;
  }
  .company {
    max-width: 100px;
  }
  .form {
    max-width: 350px;
    height: 480px;
  }
  .form__field .form__input {
    width: 320px;
  }
  .form__field {
    margin-bottom: 20px;
  }
  .form__text {
    margin-bottom: 20px;
  }
  .form__title {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 380px) {
  .header__img {
    width: 100px;
    height: 35px;
  }
  .header__link {
    font-size: 20px;
  }
  .header__button {
    font-size: 20px;
  }
  .form {
    max-width: 320px;
  }
  .form__field .form__input {
    width: 300px;
  }
}
