.slider {
  background-color: #f8f8f8;
}
.slick-list {
  overflow: hidden;
}
.slider__box {
  position: relative;
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
}
.slick-track {
  display: flex;
}

.slider__list .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  font-size: 0;
  width: 34px;
  height: 61px;
  border: none;
}
.slider__list .slick-arrow.slick-next {
  right: 140px;
  background: url("./../../images/right.png");
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;
}
.slider__list .slick-arrow.slick-prev {
  left: 140px;
  background: url("./../../images/left.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slider__img {
  max-width: 1248px;
}
// width="1248" height="462"
